data
data/sentinel/

__pycache__

runs/
model/output/
model/log/

utils/figures/
utils/APU.py
utils/APU_DC.py
utils/delete.py
utils/Densityplot.py
utils/Weight_calc.py

predictions
runs/spline_S110m/events.out.tfevents.1775140469.fernserv04.2018256.0
model/__pycache__/height_net.cpython-312.pyc
